@import url("car-select.html");

:root {
    --main-background-color: rgb(18, 18, 18);
    --header-color: rgb(12, 12, 12);
    --main-font-color: white;
    --main-gradient: linear-gradient(to right, #611700, #ff0000);
}

/*Селектор относящийся ко всем элементам на странице*/
* {
    font-family: 'Jost', sans-serif;
    color: var(--main-font-color);
}

/*Основное тело*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background-color);
    /*Цвет фона на всей страницы*/
    height: 100%;

}

header {
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    height: 70px;
    max-height: 100%;
    white-space: nowrap;
    width: 100%;
    box-shadow: 5px 0px 10px black;
    z-index: 6;
}

.car-select-header {
    margin: 0;
    padding-top: 120px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'JetBrains Mono', monospace;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
}

.slider-container {
    position: relative;
}

.prev,
.next {
    position: absolute;
    top: 10%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 4;
    border-radius: 20px;
    transition: background-color .5s ease, padding .5s ease;
    transition: transform 0.2s ease-in-out;
}
.button.clicked {
    transform: scale(0.9);
  }
.prev:hover,
.next:hover {
    background-color: #595959;
    padding: 15px;
}
.prev:active,
.next:active {
    background-color: #282828;
    padding: 8px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slider-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 600px;
    height: auto;
    object-fit: cover;
}
.image {
    height: 300px;
    padding: 10%;
    overflow: hidden;
}

.car-details {
    text-align: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .slider-container {
        width: 90%;
    }

    .prev,
    .next {
        font-size: 18px;
    }
}

/* footer part of web page */
footer {
    background-color: var(--header-color);
    padding: 10px 20px 10px 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5;
    box-sizing: border-box;
}

.hover-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(to right, #7e0000 50%, #990101 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border: 2px solid #470303;
    transition: background 0.5s ease-in-out;
    font-family: 'JetBrains Mono', monospace;
}

.hover-btn:hover {
    background-position: right bottom;
}