h1 {
    margin: 0;
    padding-top: 100px;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}

h2 {
    margin: 0;
    padding-top: 100px;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}

.main {
    margin: 30px 90px 30px 100px;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 2px;
    line-height: 30px;
}

main {
    flex: 1 1 auto;
}

.gallery-container {
    display: inline-grid;
    grid-template-columns: 25% 40% 33%;
    grid-auto-flow: row;
    gap: 15px;

    margin: 0 auto;
    padding: 50px 10% 50px 10%;


}

@media screen and (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }


}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}