@import url("main.html");
/*Связь с html файлом*/


:root {
  --main-background-color: rgb(18, 18, 18);
  --header-color: rgb(12, 12, 12);
  --main-font-color: white;
  --main-gradient: linear-gradient(to right, #611700, #ff0000);
}

/*Селектор относящийся ко всем элементам на странице*/
* {
  font-family: 'Jost', sans-serif;
  color: var(--main-font-color);
}

/*Основное тело*/
body {
  padding: 0;
  margin: 0;
  background-color: var(--main-background-color);
  /*Цвет фона на всей страницы*/
}

header {
  display: flex;
  position: fixed;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;

  background-color: var(--header-color);

  height: 70px;
  max-height: 100%;
  white-space: nowrap;

  width: 100%;

  box-shadow: 5px 0px 10px black;
  z-index: 1;
}

/* стилизация головной части сайта для ПК */
@media screen and (min-width: 1001px) {

  .menu-container input,
  label {
    display: none;
  }

  .nav-item {
    text-align: center;
    font-size: 17px;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;

  }

  .nav-item a {
    text-decoration: none;
  }

  .nav-item:before {
    content: "";
    position: absolute;
    width: 0;
    background: #fff;
    left: 50%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
  }

  .nav-item:hover:before {
    width: 100%;
    left: 0;
  }
}


/* стилизация головной части для мобильных устройств*/
@media screen and (max-width: 1001px) {
  .nav-list {
    display: none;
    position: fixed;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(32, 32, 32, 0.95);
    top: 10px;
    /* Отступ сверху */
    right: 70px;
    /* Отступ справа */
  }

  [for=burger-toggle] {
    display: block;
    position: fixed;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }

  .line {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    /* Отступы между линиями */
    transition: transform 0.3s ease;
  }

  /* Стили для анимации превращения в крестик */
  #burger-toggle:checked+.burger-icon .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  #burger-toggle:checked+.burger-icon .line2 {
    opacity: 0;
  }

  #burger-toggle:checked+.burger-icon .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }

  .burger-icon {
    cursor: pointer;
    width: 25px;
  }

  #burger-toggle {
    display: none;
  }

  #burger-toggle:checked+label+nav {
    display: block;
  }

  .nav-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
  }

  .nav-item {
    padding: 10px 0;

  }

  .nav-item>a {
    text-decoration: none;
  }

  .nav-item>a:hover {
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

}







/* main section */
main {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px 8% 0px 8%;

}

main dl {
  display: grid;
  grid-gap: 10px;

}

@media screen and (min-width: 1001px) and (max-width: 2560px) {
  main dl {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  main dl {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  main dl {
    grid-template-rows: repeat(1, 1fr);
  }
}

/* terms list */
main dl dt {
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding-bottom: 5px;
}

/* element of terms list */
main dl dd {
  text-align: justify;
  color: rgb(167, 165, 165);
  margin-left: 5px;
  margin-right: 30px;
  padding-bottom: 20px;
}










.global-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* menu */
.menu-container {
  display: grid;
  gap: 30px;
  margin: 0px 10% 0px 10%;
  padding-top: 40px;
  max-width: 1100px;

}

@media screen and (min-width: 1001px) {
  .menu-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .menu-item {
    height: 350px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .menu-container {
    grid-template-rows: repeat(1, 1fr);
  }

  .menu-item {
    height: 300px;
  }
}

.menu-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Обрезка изображения для заполнения контейнера */
  display: block;
}

.menu-item {
  overflow: hidden;

}

.menu-item a {
  text-decoration: none;
}

.menu-item-image {
  transition: transform 1s ease-in-out;
  filter: brightness(0.9)
}

.menu-item:hover .menu-item-image {
  transform: scale(1.1);
}

.menu-item:hover .desc,
.menu-item:hover .svg-container {
  transform: translateY(-50px);
}

.desc {
  transition: transform 0.3s ease-in-out;
}

.svg-container {
  position: relative;
  bottom: 100px;
  left: 25px;
  transition: transform 0.3s ease-in-out;
}

.svg-arrow {
  fill: white;
}

.desc {
  position: relative;
  bottom: 95px;
  left: 30px;
  font-size: 30px;
  font-family: 'JetBrains Mono', monospace;
}











/* footer part of web page */
footer {
  background-color: var(--header-color);
  padding: 10px 20px 10px 20px;
  margin-top: 50px;

}

address {
  display: grid;
  gap: 20px;
}

/*about us container */
.about-us-container {
  text-align: justify;
}

@media screen and (min-width: 1001px) and (max-width: 2560px) {
  address {
    grid-template-columns: repeat(4, 1fr);


  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  address {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .social-container ul {
    display: flex;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  address {
    grid-template-rows: repeat(4, 1fr);
  }

  .social-container ul {
    display: flex;
  }
}

/*contacts links*/
.contacts-container ul {
  list-style-type: none;
  line-height: 25px;
  text-indent: -30px;
}

.contacts-container ul li {
  text-decoration: none;
}

.contacts-svg-icon {
  position: relative;
  top: 6px;
}

/* social links */
.social-container ul {
  list-style: none;

}

.social-button {
  width: 40px;
  height: 40px;
}

.social-container ul li {

  position: relative;
  overflow: hidden;
  background-color: rgb(85, 83, 83);
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(73, 73, 73);
  margin-left: 15px;
}

.social-container ul li:hover .background-container {
  height: 40px;
}

.social-svg-icon {
  position: absolute;
  top: 20%;
  left: 20%;

  z-index: 1;
  fill: rgb(26, 26, 26);
}

.background-container {
  transition: height .5s ease;
  position: relative;
  width: 40px;
  height: 0px;
  background-image: var(--main-gradient);
}



/* Общие стили для контейнера и формы */
.form-container {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

label {
  font-weight: bold;
}

input,
textarea {
  color: black;
  width: 100%;
  padding: 10px;
  border: 1px solid #4d4d4d;
  transition: transform 0.3s, box-shadow 0.3s;
  /* Добавляем transition для box-shadow */
}

input:focus,
textarea:focus {
  transform: scale(1.05);
  /* Увеличиваем размер при фокусе */
  box-shadow: 0 0 5px #3498db;
  /* Добавляем подсветку при фокусе */
}

button {
  grid-column: span 1;
  /* Занимает 1 столбец в сетке */
  background: #3498db;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  /* Плавная анимация */
}

/* Эффект при наведении на инпуты и кнопку */
input:hover,
textarea:hover,
button:hover {
  background-color: #686868;
  transform: scale(1.15);
  /* Увеличиваем размер при наведении */
}