@import url("../html/offers.html");

:root {
    --main-background-color: rgb(18, 18, 18);
    --header-color: rgb(12, 12, 12);
    --main-font-color: white;
    --main-gradient: linear-gradient(to right, #611700, #ff0000);
}

/*Селектор относящийся ко всем элементам на странице*/
* {
    font-family: 'Jost', sans-serif;
    color: var(--main-font-color);
}

/*Основное тело*/
body {
    margin: 0;

    background-color: var(--main-background-color);
    /*Цвет фона на всей страницы*/
}

header {
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    height: 70px;
    max-height: 100%;
    white-space: nowrap;
    width: 100%;
    box-shadow: 5px 0px 10px black;
    z-index: 1;
}

h1 {
    margin: 0;
    padding: 100px 0px 40px 0px;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}




form {
    display: flex;
    flex-direction: column;
    background: var(--main-gradient);
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(151, 4, 4);
}




input,
option,
select {
    color: black;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
}

.desc {
    font-weight: bold;
    font-size: 17px;

}


button {
    background-color: rgb(65, 56, 56);
    color: rgb(253, 253, 253);
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
}

button:hover {
    background-color: #8a0404;
}
#totalCost {

    font-size: 25px;
    font-weight: 700;
    font-family: 'JetBrains Mono', monospace;
}







/* footer part of web page */
footer {
    background-color: var(--header-color);
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.hover-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(to right, #7e0000 50%, #990101 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border: 2px solid #470303;
    transition: background 0.5s ease-in-out;
    font-family: 'JetBrains Mono', monospace;
}

.hover-btn:hover {
    background-position: right bottom;
}